.list-inline li a{
	color:white;
}
.tint {
  background: none;
}

#merchant-feed {
  min-height: 400px;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
}
#merchant-feed .feed-strip {
  padding: 30px 0 0 0;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}
#merchant-feed .feed-strip .merchant-feed-image {
  margin: 0 auto;
  position: absolute;
  left: 0;
  top: -150px;
  left: 30px;
  width: 100px;
}
#merchant-feed .feed-strip .merchant-feed-image img {
  width: 100%;
}
#merchant-feed .feed-strip .merchant-feed-nav {
  text-align: center;
  margin-bottom: 3px;
}
#merchant-feed .feed-strip .merchant-feed-nav a {
  color: #fff;
  padding: 0 50px;
  font-size: 12px;
}
#merchant-feed .feed-strip .merchant-feed-nav a:hover {
  text-decoration: none;
}
.follow-info li{
	 right:0;
}
.user-options {
  background: transparent;
  border: 1px solid #eee;
  color: #fff!important;
  border-radius: 3px;
  padding: 2px 4px!important;
 
}
.user-options:hover {
  background: #eee;
  color: #000!important;
}
#merchant-feed .feed-strip .merchant-feed-nav .edit-profile {
  background: transparent;
  border: 1px solid #eee;
  color: #fff!important;
  border-radius: 3px;
  padding: 2px 4px!important;
}
#merchant-feed .feed-strip .merchant-feed-nav .edit-profile:hover {
  background: #eee;
  color: #000!important;
}
#merchant-feed .feed-strip .merchant-feed-name {
  margin-left:55px;
  margin-bottom: 5px;
}
#merchant-feed .feed-strip .merchant-feed-name span {
  display: block;
  color: #999;
  font-size: 12px;
}
.feed-strip.fixed-top {
  transition: all .2s linear;
  padding: 0!important;
  position: fixed!important;
  left: 0;
  right: 0;
  top: 100px;
  width: 100%;
  z-index: 99;
  background: #000;
  height: 80px!important;
}
@media screen and (max-width: 500px) {
  .feed-strip.fixed-top {
    height: 100px!important;
  }
}
.feed-strip.fixed-top .merchant-feed-image {
  float: left;
  display: inline-block;
  position: static!important;
  width: 65px!important;
  left: 15px;
}
@media screen and (max-width: 500px) {
  .feed-strip.fixed-top .merchant-feed-image {
    margin-left: 35%!important;
  }
}
.feed-strip.fixed-top .merchant-feed-name {
  float: left;
  display: inline-block;
  margin-left: 15px;
  margin-top: 15px;
}
.feed-strip.fixed-top .merchant-feed-nav {
  float: right;
  margin-top: 25px;
}
.feed-strip.fixed-top .merchant-feed-nav a {
  padding: 0 5px!important;
}
@media screen and (max-width: 500px) {
  .feed-strip.fixed-top .merchant-feed-nav {
    clear: both;
    display: block;
    float: none!important;
  }
}
@media screen and (max-width: 600px) {
  .merchant-feed-nav a {
    padding: 5px!important;
  }
  .fixed-top {
    height: 150px!important;
  }
}

.list-inline li .product img{
	width:200px;
	height:250px;
}
.product a {
  display: block;
  width: 200px;
  color: #fff;
  text-decoration: none;
  text-shadow: none;d 
  cvhj  r56
    font-size: 16px;
}

@media all and (min-width: 800px) {
  .main {
    -webkit-box-flex: 2;
    -ms-flex: 2 0px;
    flex: 2 0px;
  }
  .left-side {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .main {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
 
}
@media all and (min-width: 600px) {
  .aside {
    -webkit-box-flex: 1;
    -ms-flex: 1 auto;
    flex: 1 auto;
  }
}
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}
@media all and (min-width: 768px) {
  .aside {
    flex: 1 auto;
  }
}
@media all and (min-width: 992px) {
  .main {
    flex: 2;
  }
  .left-aside {
    order: 1;
  }
  .main {
    order: 2;
  }
  
}
.btn-primary {
	color:black;
    background-color:white;
	align:center;
	left:450px;
	right:100px;
}
.merchant-feed-nav{
	height:30px;
	width:500px;
	max-width:100%;
	text-align:center;
}

.btn btn-default

.product {
  height: 450px;
}
.product a {
  display: block;
  width: 100%;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  font-size: 16px;
}
.product a figure img{
	
	height: 360px;
}
.product figure {
  position: relative;
}
.product figure figcaption {
  position: absolute;
  padding: 20px 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.product figure figcaption div{
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 100%;
  filter: blur(3px) contrast(60%);
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
}
.product figure figcaption span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.product-name-price{
	font-size:16px;
	line-height:15px;
	font-weight:700;
}

